<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/6c8d926e2b.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="max-w-6xl mx-auto">
            <div class="masthead px-4 py-2 flex justify-between items-center">
                <h4 class="text-xl md:text-4xl font-bold">
                    <a href="/">
                        <div class="logo flex">
                            <div class="letter">b</div>
                            <div class="letter">c</div>
                            <div class="letter">r</div>
                            <div class="letter">u</div>
                            <div class="letter">m</div>
                            <div class="letter">p</div>
                            <div class="letter">t</div>
                            <div class="letter">o</div>
                            <div class="letter">n</div>
                        </div>
                    </a>
                </h4>
                <nav class="nav flex">
                    <ul class="nav__menu flex">
                        <li class="nav__menu-item"><a class="font-bold" href="/work">Work</a></li>
                        <li class="ml-4 nav__menu-item"><a class="font-bold" href="/about">About</a></li>
                    </ul>
                    <div class="ml-4 socials">
                        <a target="_blank" href="https://github.com/bcrumpton"><i class="text-xl fab fa-github"></i></a>
                        <a class="ml-4" target="_blank" href="mailto:crumptonbrannon@gmail.com"><i
                                class="text-xl far fa-envelope"></i></a>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main class="main-content {% if page.url == " /" %} flex items-center {% endif %}">
        <div class="max-w-6xl mx-auto p-4 h-full">
            {{ content | safe }}
        </div>
    </main>

    <footer class="mt-8">
        <div class="max-w-6xl mx-auto">
            <div class="footer px-4 py-2">
                <p class="font-bold">Copyright
                    <script>document.write(new Date().getFullYear())</script> &copy; Brannon Crumpton
                </p>
            </div>
        </div>
    </footer>

</body>

</html>