---
layout: layout.liquid
---

<h1 class="mt-8 text-6xl font-bold">{{ title }}</h1>

<img src="{{ image }}" />

<p class="my-8">{{description}}</p>

<a class="button" target="_blank" href="{{link}}">Visit Site</a>