---
layout: "layout.liquid"
title: "bcrumpton"
---

<div class="h-full flex-col md:flex-row flex items-center">
  <div class="flex flex-col justify-center py-8">
    <h1 class="text-center md:text-left dark-purple text-6xl font-bold">Hi! 👋</h1>
    <h2 class="text-center md:text-left my-4 dark-purple text-6xl font-bold">I'm Brannon.</h2>
    <h2 class="text-center md:text-left dark-purple text-6xl font-bold">A front end developer.</h2>
  </div>
  <div class="max-w-full p-2">
    {{ '/public/img/beer-celebration.svg' | svgContents }}
  </div>
</div>